.App {
  text-align: center;
  margin: 0 auto;
}

table {
    margin: 70px auto;
    max-width: 900px;
}

.btn {
    margin-right: 10px;
}

Form{
    max-width: 800px;
    margin: 0 auto;
}

.container-notas{
    padding: 50px;
}

.nota{
    border:2px solid black;
    margin-top: 20px;
}