.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formulario{
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    border: 1px solid black;
}

.buttons-formulario{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap:30px;
}

.table-main{
    margin: 20px auto;
    max-width: 850px;
}